[submodule "scripts/BlackRockCityPlanner"]
	path = scripts/BlackRockCityPlanner
	url = git@github.com:iBurnApp/BlackRockCityPlanner.git
[submodule "bmorg/innovate-GIS-data"]
	path = bmorg/innovate-GIS-data
	url = https://github.com/burningmantech/innovate-GIS-data
